<!--flavortext at the top of the page-->
<p>
    This floor houses the School of Arts and Letters. <br>
    Several paintings line the walls; some of them were created by students. <br>
    You also see newsboards for the individual departments on this floor.
</p>
<!---calling methods-->
<!---Honors Lounge-->
<!---Music Library-->
<!---Photography darkroom-->
<!--music practice rooms-->
@{

}
@{
    <!--classroom classes; since the contents are random each time, I only need one object for each class-->
    Activity classroomActivity = new Activity();
    Analogy classroomAnalogy = new Analogy();
    Attendance classroomAttendance = new Attendance();
    Reaction classroomReaction = new Reaction();

    <!---brackets for ease of labeling different classes and switching out methods-->
    <!--calling the methods for each object in each classroom-->
    <span>Classroom 4414</span>
    {
            <br>
            @Html.Raw(classroomActivity.SpecialActivity());
            <br>
            @Html.Raw(classroomAttendance.RandomAttendance());
            <br>
            @Html.Raw(classroomAnalogy.RandomAnalogy());
            <br>
            @Html.Raw(classroomReaction.RandomReaction());
            <br>
        }
        <br>
        <span>Classroom 4605</span>
        {
            <br>
            @Html.Raw(classroomActivity.SpecialActivity());
            <br>
            @Html.Raw(classroomAttendance.RandomAttendance());
            <br>
            @Html.Raw(classroomAnalogy.RandomAnalogy());
            <br>
            @Html.Raw(classroomReaction.RandomReaction());
            <br>
        }
        <br>
        <span>Classroom 4611</span>
        {
            <br>
            @Html.Raw(classroomActivity.SpecialActivity());
            <br>
            @Html.Raw(classroomAttendance.RandomAttendance());
            <br>
            @Html.Raw(classroomAnalogy.RandomAnalogy());
            <br>
            @Html.Raw(classroomReaction.RandomReaction());
            <br>
        }
        <br>
        <span>Classroom 4105</span>
        {
            <br>
            @Html.Raw(classroomActivity.SpecialActivity());
            <br>
            @Html.Raw(classroomAttendance.RandomAttendance());
            <br>
            @Html.Raw(classroomAnalogy.RandomAnalogy());
            <br>
            @Html.Raw(classroomReaction.RandomReaction());
            <br>
        }
        <br>
        <span>Classroom 4115</span>
        {
            <br>
            @Html.Raw(classroomActivity.SpecialActivity());
            <br>
            @Html.Raw(classroomAttendance.RandomAttendance());
            <br>
            @Html.Raw(classroomAnalogy.RandomAnalogy());
            <br>
            @Html.Raw(classroomReaction.RandomReaction());
            <br>
        }
        <br>
        <span>Classroom 4119</span>
        {
            <br>
            @Html.Raw(classroomActivity.SpecialActivity());
            <br>
            @Html.Raw(classroomAttendance.RandomAttendance());
            <br>
            @Html.Raw(classroomAnalogy.RandomAnalogy());
            <br>
            @Html.Raw(classroomReaction.RandomReaction());
            <br>
        }
        <br>
        <span>Classroom 4125</span>
        {
            <br>
            @Html.Raw(classroomActivity.SpecialActivity());
            <br>
            @Html.Raw(classroomAttendance.RandomAttendance());
            <br>
            @Html.Raw(classroomAnalogy.RandomAnalogy());
            <br>
            @Html.Raw(classroomReaction.RandomReaction());
            <br>
        }
        <br>
        <span>Classroom 4141</span>
        {
            <br>
            @Html.Raw(classroomActivity.SpecialActivity());
            <br>
            @Html.Raw(classroomAttendance.RandomAttendance());
            <br>
            @Html.Raw(classroomAnalogy.RandomAnalogy());
            <br>
            @Html.Raw(classroomReaction.RandomReaction());
            <br>
        }
        <br>
}

    <a asp-action="double" asp-controller="FifthFloor">Double Classroom</a>
    <br>
    <a asp-action="single" asp-controller="FifthFloor">Single Conference Room</a>
    <br>
